@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

.site-header {
    background-color: #181818;
    padding: 10px 20px;
}

.brand-link {
    font-family: "Moderustic", sans-serif;
    font-weight: 420;
    font-size: 1.1em;
    color: #ffffff;
    padding: 5px 10px;
    transition: border 0.4s ease, background-color 0.4s ease;
    border-radius: 12px;
}

.brand-link img {
    margin-top: 3px;
}

.brand-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.nav-menu .nav-link {
    font-size: 1.1em;
    font-family: "Moderustic", sans-serif;
    font-weight: 420;
    color: #ffffff;
    position: relative;
}

.nav-menu .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

.nav-menu .nav-link:hover::after {
    transform: scaleX(1);
}


.container-wrapper {
    position: relative;
    top: 110px;
    left: 20px;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.welcome-heading,
.subtext-right {
    text-align: left;
    max-width: 80%;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Moderustic", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #1f1f1f;
}

.main-heading {
    font-family: "Moderustic", sans-serif;
    font-size: 2.5em;
    font-weight: 350;
    color: #000000;
}

.highlight-name {
    font-weight: 450;
    color: #000000;
}

.highlight-role {
    font-weight: 450;
    color
    : #000000;
}

.highlight-role-1 {
    font-weight: 380;
    color: #000000;
}

#mouse-icon {
    top: 20%;
    left: 50%;
    position: relative;
    width: 30px;
    height: 50px;
    border: 2px solid #1f1f1f;
    border-radius: 50px;
}

#mouse-icon::after {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    content: '';
    background-color: #1f1f1f;
    left: calc(50% - 5px);
    border-radius: 10px;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    0% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0%;
        top: 30px;
    }
}

.arrows-icon {
    top: 21%;
    left: 17px;
    position: relative;
    width: 30px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    display: block;
    width: 5px;
    height: 5px;
    border-right: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    transform: rotate(45deg);
    margin-bottom: 5px;
    animation: arrow-animation 1.5s infinite;
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 0.3s;
}

.three {
    animation-delay: 0.6s;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(10px) rotate(45deg);
    }
}

.first-hr {
    margin-top: 200px;
    border: 1px solid #8e8e8e;
    margin-bottom: 40px;
}

hr {
    border: 1px solid #8e8e8e;
    margin: 40px 0;
}

.section h2 {
    text-align: center;
    font-family: "Moderustic", sans-serif;
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 20px;
    color: #1f1f1f;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.skill {
    padding: 10px 15px;
    background-color: #ebebeb;
    color: #1f1f1f;
    border-radius: 50px;
    font-family: "Moderustic", sans-serif;
    font-size: 0.8em;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill:hover {
    transform: scale(1.1);
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
    padding: 0 20px;
}

.experience-item {
    background-color: #f4f4f4;
    border-left: 4px solid #181818;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}


.experience-position {
    font-family: "Moderustic", sans-serif;
    font-size: 1.3em;
    font-weight: 650;
    margin: 0 0 10px 0;
    color: #1f1f1f;
}

.experience-enterprise{
    font-family: "Moderustic", sans-serif;
    font-size: 1.0em;
    font-weight: 650;
    margin: 0 0 10px 0;
    color: #3b3b3b;
}

.experience-date {
    font-size: 0.9em;
    color: #555;
    text-align: right;
}
.experience-description {
    font-size: 1.2em;
    font-weight: 500;
    color: #323232;
    line-height: 1.6;
}

#contato {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

#contato h2 {
    font-family: "Moderustic", sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #1f1f1f;
}

#contato p {
    font-size: 1.1em;
    max-width: 600px;
    margin: 0 auto 20px auto; /* Centraliza o parágrafo e adiciona espaço abaixo */
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #181818;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #181818;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Moderustic", sans-serif;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #333;
}
