<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murilo Costa | Desenvolvedor Back-End</title>
    <link rel="icon" href="{{ url_for('static', filename='img/mc-logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top site-header">
        <div class="container">
            <a href="index.html" class="navbar-brand brand-link">
                <img src="{{ url_for('static', filename='img/mc-logo-w.png') }}" alt="Logo" style="vertical-align: middle; width: 30px; height: 30px;">
                Murilo Costa
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end site-nav" id="navbarNav">
                <ul class="navbar-nav nav-menu">
                    <li class="nav-item">
                        <a href="#sobre" class="nav-link nav-item">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="#habilidades" class="nav-link nav-item">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a href="#projetos" class="nav-link nav-item">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contato" class="nav-link nav-item">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    

    <div class="container-wrapper">
        <h1 class="welcome-heading">SEJA BEM VINDO, EU SOU</h1>
        <h2 class="main-heading">
            <span class="highlight-name">Murilo Dias da Costa</span>
            <span class="highlight-role"><br>Desenvolvedor <span class="highlight-role-1"><em>back end.</em></span></span>
        </h2>
        <p class="subtext-right">Capacitando a inovação digital com soluções otimizadas e eficientes ao ERP Sankhya.</p>
    </div>

    <div id="mouse-icon"></div>

    <div class="arrows-icon">
        <span class="arrow one"></span> 
        <span class="arrow two"></span>
        <span class="arrow three"></span>
    </div>

    <hr class="first-hr">

    <div class="section" id="habilidades">
        <h2>HABILIDADES & TECNOLOGIAS</h2>
        <div class="skills-container">
            <div class="skill">JavaScript</div>
            <div class="skill">PL/SQL</div>
            <div class="skill">MySQL</div>
            <div class="skill">Python</div>
            <div class="skill">Git</div>
            <div class="skill">Docker</div>
            <div class="skill">Java</div>
            <div class="skill">Spring Boot</div>
            <div class="skill">PL/SQL</div>
            <div class="skill">Flask</div>
            <div class="skill">SQL</div>
            <div class="skill">C++</div>
        </div>
    </div>

    <hr>

    <div class="section" id="projetos">
        <h2>EXPERIÊNCIA PROFISSIONAL</h2>
        <div class="experience-container">
            <div class="experience-item">
                <div class="experience-header">
                    <div>
                        <span class="experience-position">Analista de Sistemas</span><br>
                        <span class="experience-enterprise">Sankhya Gestão de Negócios</span>
                    </div>
                    <span class="experience-date">2023 - Presente</span>
                </div>
                <p class="experience-description">Desenvolvimento de software, focado em criações de 
                    rotinas, ações agendadas e eventos prográmeis personalizados para otimizar e atender a 
                    necessidade do negócio.</p>
            </div>
        </div>
    </div>    
    

    <hr>

    <div class="section" id="contato">
        <h2>Contato</h2>
        <p>Adoraria ouvir você! Sinta-se à vontade para entrar em contato com qualquer pergunta ou dúvida.</p>
        <form class="contact-form" action="mailto:seuemail@exemplo.com" method="POST" enctype="text/plain">
            <input type="text" id="name" name="name" placeholder="Escreva o assunto aqui." required>
            <input type="email" id="email" name="email" placeholder="usuario@dominio.com" required>
            <textarea id="message" name="message" rows="5" placeholder="Escreva sua mensagem aqui." required></textarea>
    
            <button type="submit">Enviar</button>
        </form>
    </div>
    

    <!-- Link para o arquivo JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
